.img-index-music {
    height : 150px;
}

.img-index-movie {
    height : 250px;
}

.img-category-list {
    height : 250px;
}

.layout-menu-index {
    position: inherit;
}

#top .col-sm-3 .layout-menu-font {
    color : #999999;
}
#top .menu1 {
    padding-bottom: 30px;
}
#content .product .text h3.text-category-list-title {
    height : 60px;
}
